@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=PT+Sans+Caption:wght@400;700&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&family=PT+Sans+Caption:wght@400;700&family=Rock+Salt&display=swap');

.itemlistcontainer{
    display: flex;
    flex-direction: column;
    padding: 50px;
    
    
}
.itemlistcontainer .itemlist{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.itemlistcontainer .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 2rem;
    padding: 1rem;
    border: 2px solid gray;
    border-radius: 10px;
    gap: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.hendrix{
    font-family: "PT Sans Caption", serif;
    font-weight: 400;
    font-style: normal;
}
.text-item{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

  
.item:hover {
    transform: scale(1.05);
}
  
.img-item {
    width: 100%;
    height: auto;
}
  
.text-item {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
  
.txt-detail {
    display: none;
}
  
.item:hover .curtain {
    transform: translateY(0);
}
  
.curtain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    text-align: center;
}
  
.curtain p {
    margin: 0;
}
  
.item:hover .txt-detail {
    display: block;
    color: white;
    text-decoration: underline;
    font-size: 14px;
}
      


