.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4a148c;
    padding: 8px;
    width: 100%;
}
.banner{
    border-radius: 10px;
}

.navbar .menu-toggle{
    display: none;
    padding: 8px;
}

.navbar .categories{
    display: flex;
    gap:  100px;
    font-weight: bold;
}
.categories .category{
    text-decoration: none;
}
.category-active{
    color: #ce93d8;
    text-decoration: underline;
}
.cartwidget{
    color: bisque; 
}
.banner{
    display: flex;
    width: 80px;
    height: 60px;
}


@media (max-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        background-color: #4a148c;
    }
    
    .navbar .categories {
        display: none;
        padding:16px;
        align-items: start;
        padding-top: 64px;
        flex-direction: column;
        position: absolute;
        gap: 16px;
        top: 65px;
        height: 100vh;
        left: 0;
        background: #4a148c;
        width: 100%;
        text-align: center;
        z-index: 10;
    }
    
    .navbar .categories.open {
        display: flex;
    }
}

